*.d
*.o
*.su
*.i
*.ii
*.s

# project build files
/**/image/
/**/image_mp/
/**/build/

# all bin files
*.bin
!/**/gnu_utility/**/*.bin
!/tools/**/*.bin

# project library files

# log files
*.log

# menuconfig lxdialog files
/**/lxdialog/
/**/menuconfig/.config.old

# wlan makefile
/**/make/wlan/

# fiptool
/**/fiptool/

# git files
.repo/
.git/

# trusted-firmware-m build files
/**/build_tfm/

# build info
build_info.h

# IAR
*.dep
*.ewt
/**/EWARM-RELEASE/Debug/
EWARM-RELEASE/settings/

/venv
amebadplus_gcc_project/project_km4/asdk/lib/application/lib_cmsis_dsp.a
amebadplus_gcc_project/project_km4/asdk/lib/application/lib_http2.a
amebadplus_gcc_project/project_km4/asdk/lib/application/lib_user.a